@import "tailwindcss";

@theme {
  --color-brand-500: #00f3ff;
  --color-neon-blue: #00f3ff;
  --color-neon-green: #ccff00;
}

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 transition-colors duration-500;
  }
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  /* zinc-600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
  /* zinc-500 */
}